.card {
  background-color: #b0e0e6;
  width: 500px;
  height: 420px;
  padding: 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}
h4 {
  color: #666666;
  font-size: 30px;
}
