.background {
  background-color: #eee9da;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.form div span {
  color: #666666;
  font-size: 15px;
}

.link {
  text-decoration: none;
  color: #6096b4;
  font-weight: bold;
  font-size: 17px;
  transition: 0.5s;
}
.link span {
  color: #1684c0;
}
